.smiley {
  background: url('../../assets/assets.png') no-repeat;
  background-position: 0 -55px;
  width: 26px;
  height: 26px;
  cursor: pointer;

  &.down {
    background-position-x: -26px;
  }

  &.gameover {
    background-position-x: -78px;
  }

  &.win {
    background-position-x: -104px;
  }
}